---
import Layout from "../layouts/Layout.astro";
/* import Card from '../components/Card.astro'; */
---

<Layout title="Pablo Ulloa Lizama. - Fullstack Developer">
  <main>
    <section class="home" id="section1">
      <div class="div1">
        <h1><strong>Pablo Ulloa Lizama</strong></h1>
        <h2><b>FullStack Developer</b></h2>
        <div class="btns_home">
          <a class="btn_github" href="https://github.com/pablossrudi" target="_blank">
            <img
              class="icon_github"
              width="30"
              height="30"
              src="https://img.icons8.com/ios-glyphs/30/ffffff/github.png"
              alt="github"
            />
          </a>
          <!-- <button class="descargar"> -->
          <a class="descargar" href="/assets/Curriculum.pdf" download
            ><img
              class="icon_descargar"
              width="20"
              height="20"
              src="https://img.icons8.com/metro/20/ffffff/download.png"
              alt="download"
            /><span class="descargar-content">DESCARGAR CV</span></a
          >
          <!-- </button> -->
        </div>
      </div>
      <img class="gif" src="/assets/yo_escalado.gif" alt="" />
    </section>
    <section class="sobre" id="section2">
      <div class="div2">
        <div class="sobremi">
          <!-- <img src="" alt="" /> -->
          <h2>Sobre Mí</h2>
          <h3>Chile</h3>
          <p>
            Egresado de Ingeniería Civil en Informática y apasionado por el
            desarrollo web y móvil, dispuesto a aprender todo sobre el
            desarrollo de software. Ademas cuento con conocimientos de
            front-end, back-end, manejo de datos y en bases de datos SQL y
            NoSQL.
            <br />
            <br />
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus est
            molestias reiciendis veritatis nostrum quam officia adipisci explicabo,
            sed eaque similique maiores sequi in recusandae doloremque enim tenetur
            exercitationem neque!
            <br />
            <br />
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </p>
        </div>
        <div class="educacion">
          <h2>Educación</h2>
          <div class="item-educ">
            <img
              class="ubb-icon"
              src="/assets/ubb.png"
              width="22"
              height="29"
              alt="ubb"
            />
            <h3>Universidad del Bío-Bío, Concepción</h3>
          </div>
          <p><i>Ingeniería Civil en Informática |</i> 2017 - 2022</p>
          <div class="container-titulos">
            <a class="descargar-titulos" href="" target="_blank"
              ><img
                class="icon_descargar"
                width="25"
                height="25"
                src="https://img.icons8.com/ios-filled/50/ffffff/google-drive--v2.png"
                alt="google-drive--v2"
              /><span class="descargar-content">Titulos y certificados</span></a
            >
          </div>
        </div>
      </div>
    </section>
    <section class="habilidades" id="section3">
      <div class="div3">
        <div class="container-div3">
          <h2>Tecnologias</h2>
          <div class="div3-1">
            <div class="icons">
              <img
                width="50"
                height="50"
                src="https://img.icons8.com/ios-glyphs/50/ff6d00/html-5.png"
                alt="html-5"
              />
              <br />
              <span>HTML</span>
            </div>
            <div class="icons">
              <img
                width="50"
                height="50"
                src="https://img.icons8.com/ios-glyphs/50/2AA4F4/css3.png"
                alt="css3"
              />
              <br />
              <span>CSS</span>
            </div>
            <div class="icons">
              <img
                width="50"
                height="50"
                src="https://img.icons8.com/ios-filled/50/FFD600/javascript.png"
                alt="javascript"
              />
              <br />
              <span>JavaScript</span>
            </div>
            <div class="icons">
              <img
                width="50"
                height="50"
                src="https://img.icons8.com/ios-filled/50/4E7AB5/react-native.png"
                alt="react-native"
              />
              <br />
              <span>React</span>
            </div>
            <div class="icons">
              <img
                width="50"
                height="50"
                src="https://img.icons8.com/fluency/50/expo.png"
                alt="expo"
              />
              <br />
              <span>Expo</span>
            </div>
            <div class="icons">
              <img
                width="50"
                height="50"
                src="https://img.icons8.com/nolan/50/astro-js.png"
                alt="astro-js"
              />
              <br />
              <span>Astro</span>
            </div>
            <div class="icons">
              <img
                width="50"
                height="50"
                src="https://img.icons8.com/color/50/python--v1.png"
                alt="python--v1"
              />
              <br />
              <span>Python</span>
            </div>
            <!-- <div class="icons">
              <img
                width="50"
                height="50"
                src="https://img.icons8.com/color/50/wordpress.png"
                alt="wordpress"
              />
              <br />
              <span>WordPress</span>
            </div> -->
            <div class="icons">
              <img
                width="50"
                height="50"
                src="https://img.icons8.com/color/50/postgreesql.png"
                alt="postgreesql"
              />
              <br />
              <span>PostgreSQL</span>
            </div>
            <div class="icons">
              <img
                width="50"
                height="50"
                src="https://img.icons8.com/color/50/mongo-db.png"
                alt="mongo-db"
              />
              <br />
              <span>MongoDB</span>
            </div>
          </div>
          <h2>Herramientas</h2>
          <div class="div3-1">
            <div class="icons">
              <img
                width="50"
                height="50"
                src="https://img.icons8.com/color/50/git.png"
                alt="git"
              />
              <br />
              <span>Github</span>
            </div>
            <div class="icons">
              <img
                width="50"
                height="50"
                src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/50/external-postman-is-the-only-complete-api-development-environment-logo-color-tal-revivo.png"
                alt="external-postman-is-the-only-complete-api-development-environment-logo-color-tal-revivo"
              />
              <br />
              <span>Postman</span>
            </div>
            <div class="icons">
              <img
                width="50"
                height="50"
                src="https://img.icons8.com/fluency/50/docker.png"
                alt="docker"
              />
              <br />
              <span>Docker</span>
            </div>
            <div class="icons">
              <img
                width="50"
                height="50"
                src="https://img.icons8.com/color/50/figma--v1.png"
                alt="figma--v1"
              />
              <br />
              <span>Figma</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="proyectos" id="section4">
      <div class="div4">
        <h2>Proyectos</h2>
      </div>
    </section>
  </main>
</Layout>

<style>
  .home {
    display: flex;
    margin: -8px;
    height: 100vh;
    align-items: center;
    background: linear-gradient(
      38.3deg,
      rgb(19, 21, 26) 59.8%,
      rgb(49, 46, 97) 90.3%
    );
  }

  .div1 {
    /* display: flex; */
    flex-direction: column;
    padding-inline: 8%;
    text-align: left;
    z-index: 1;
  }
  .btns_home {
    display: flex;
    flex-direction: row;
  }
  .descargar {
    margin-top: 3.5rem;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 147px;
    padding: 0 2rem;
    margin-left: 20px;
    border-radius: 0.5rem;
    background: #3d3a4e;
    border: none;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }
  .descargar:hover::before {
    transform: scaleX(1);
  }
  .descargar-content {
    position: relative;
    font-size: 0.95rem;
    color: #fff;
    /* z-index: 1; */
  }

  .descargar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
  .btn_github {
    margin-top: 3.5rem;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 0;
    padding: 0 2rem;
    border-radius: 0.5rem;
    background: #3d3a4e;
    border: none;
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }
  .btn_github:hover::before {
    transform: scaleX(1);
  }
  .btn_github::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
  .icon_descargar {
    margin-right: 20px;
    margin-left: -10px;
    z-index: 1;
  }
  .icon_github {
    z-index: 1;
  }

  .container-titulos {
    display: flex;
    margin-left: 12px;
    align-items: center;
    margin-top: 3.5rem;
    margin-bottom: 1.8rem;
  }

  .descargar-titulos {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 210px;
    padding: 0 2rem;
    margin-left: -10px;
    border-radius: 0.5rem;
    background: #3d3a4e;
    border: none;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }

  .descargar-titulos:hover::before {
    transform: scaleX(1);
  }

  .descargar-titulos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }

  .gif {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 70px;
    width: 45vw;
  }
  .sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-left: -8px;
    margin-right: -7px;
    background: linear-gradient(
      180deg,
      rgb(19, 21, 26) 38.8%,
      rgb(49, 46, 97) 94.3%
    );
  }
  .div2 {
    display: grid;
    width: 75%;
    grid-template-columns: auto max-content;
    background: rgba(61, 58, 78, 0.5);
    backdrop-filter: blur(20px) saturate(180%);
    padding: 5%;
    margin-top: 22px;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }
  .sobremi {
    /* width: 95%; */
    /* margin-right: 10%; */
    margin-left: -2%;
    margin-right: 50px;
    margin-top: -6%;
    word-wrap: break-word;
  }
  .educacion {
    /* width: 40%;*/
    margin-top: -12%;
    /* margin-right: -7%; */
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
  }
  .item-educ {
    display: flex;
    align-items: center;
  }
  .ubb-icon {
    margin-right: 15px;
  }
  .habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-right: -7px;
    margin-left: -8px;
    background-color: rgb(49, 46, 97);
    /* background: linear-gradient(
      1deg,
      rgb(49, 46, 97) 10.8%,
      rgb(49, 46, 97) 30.3%
    ); */
  }
  .div3 {
    display: flex;
    width: 75%;
    flex-direction: column;
    /* background-color: #3d3a4e; */
    background: rgba(61, 58, 78, 0.5);
    backdrop-filter: blur(20px) saturate(180%);
    padding: 5%;
    margin-top: 45px;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }
  .container-div3 {
    margin-left: -2%;
    margin-top: -6%;
  }
  .div3-1 {
    margin-top: 1rem;
    padding-inline: 1rem;
    display: flex;
    gap: 3rem 5rem;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .icons {
    font-weight: 500;
    text-align: center;
    width: 50px;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    align-items: center;
    color: white;
  }
  h1 {
    color: white;
  }
  h2 {
    color: white;
    font-size: 2.5rem;
  }
  h3 {
    color: white;
  }
  p,
  li,
  ul {
    color: white;
    font-size: large;
    text-decoration: none;
  }
  strong {
    font-weight: 700;
    font-size: 4rem;
    text-shadow: var(--font-shadow);
  }
  b {
    font-weight: 700;
    font-size: 3rem;
    background: var(--subtitle-gradient);
  }

  .proyectos {
    display: flex;
    /* width: 100%; */
    /* height: 50vh; */
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-right: -7px;
    margin-left: -8px;
    background: linear-gradient(
      180deg,
      rgb(49, 46, 97) 38.8%,
      rgb(19, 21, 26) 94.3%
    );
  }
  .div4 {
    display: flex;
    width: 75%;
    flex-direction: column;
    /* background-color: #3d3a4e; */
    background: rgba(61, 58, 78, 0.5);
    backdrop-filter: blur(20px) saturate(180%);
    padding: 5%;
    margin-top: 45px;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }
  @media (max-width: 992px) {
    .div2 {
      grid-template-columns: 1fr;
    }
    .educacion {
      margin-top: 0;
    }
    .sobremi{
      margin-right: 0;
    } 
    .gif {
      right: 0;
      margin-right: 30px;
    }
    strong {
      font-size: 3rem;
    }
    b {
      font-size: 2rem;
    }
    .container-titulos {
      margin-left: 0;
      justify-content: center;
    }
  }
  @media (max-width: 500px) {
    .descargar {
      width: 0px;
    }
    .descargar-titulos {
      width: 100px;
    }
    .descargar-content {
      font-size: 0;
    }
    .icon_descargar {
      margin-right: 0;
      margin-left: 0;
    }
  }
</style>
