---
import {AccordionH, AccordionE} from './react_components/Accordion';

---

<section class="sobre" id="sobre_mi">
    <div class="div2">
        <div class="container_sobre_mi">
            <div class="sobre_mi">
                <h3>Sobre mí</h3>

                <h4 class="h4s">Chile</h4>
                <p>
                    Egresado de Ingeniería Civil en Informática y apasionado por
                    el desarrollo web y móvil, dispuesto a aprender todo sobre
                    el desarrollo de software. Ademas cuento con conocimientos
                    de front-end, back-end, manejo de datos y en bases de datos
                    SQL y NoSQL.
                </p>
            </div>
            <AccordionH client:media="(max-width: 1280px)"/>
        </div>

        <div class="container_educacion">
            <AccordionE client:media="(max-width: 1280px)"/>
        </div>
    </div>

    <style>
        .sobre {
            display: flex;
            justify-content: center;
            align-items: center;
            /* height: 100%; */
            /* height: 100vh; */
            /* margin-top: 8px; */
            /* margin-left: -8px;
            margin-right: -7px; */
            background: linear-gradient(
                180deg,
                rgb(19, 21, 26) 20.8%,
                rgb(34, 33, 50) 94.3%
            );
        }
        .div2 {
            display: flex;
            flex-direction: row;
            width: 75%;
            /* padding: 5%; */
            margin-top: 5%;
            /* margin-top: 22px;  */
        }

        .container_sobre_mi {
            display: grid;
            width: 55%;
        }

        .sobre_mi {
            /* grid-template-columns: auto max-content; */
            /* background: rgba(32, 28, 44, 0.5); */
            background: rgba(49, 46, 97, 0.5);
            backdrop-filter: blur(20px) saturate(180%);
            padding-left: 4%;
            padding-right: 4%;
            padding-bottom: 0.8%;
            margin-bottom: 2.5%;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(175, 174, 174, 0.05);
        }

        .sobre_mi::before {
            
        }

        .hidden {
            display: none;
        }

        .no_hidden {
            display: flex;
        }

        .h4s {
            margin-top: -1px;
            margin-bottom: -10px;
        }

        .container_educacion {
            display: grid;
            width: 45%;
        }

        @media (max-width: 1280px) {
            .div2 {
                display: flex;
                flex-direction: column;
                width: 75%;
                padding: 5%;
                /* margin-top: 22px;  */
            }
            .container_sobre_mi,
            .container_educacion {
                width: 100%;
            }
            .footer {
                position: relative;
                width: 100%;
            }
            .educacion {
                background: rgba(49, 46, 97, 0.5);
                margin-left: 0%;
                margin-top: 5%;
                /* height: 26vh; */
            }
        }
    }
    </style>
</section>
