<section class="sobre" id="sobre_mi">
    <div class="div2">
        <div class="container_sobre_mi">
            <div class="sobre_mi">
                <h3>Sobre mí</h3>
                <h4 class="h4s">Chile</h4>
                <p>
                    Egresado de Ingeniería Civil en Informática y apasionado por
                    el desarrollo web y móvil, dispuesto a aprender todo sobre
                    el desarrollo de software. Ademas cuento con conocimientos
                    de front-end, back-end, manejo de datos y en bases de datos
                    SQL y NoSQL.
                </p>
            </div>
            <div class="sobre_mis_habilidades">
                <h3>Sobre mis habilidades</h3>
                <p>
                    Me esfuerzo por mantenerme
                    actualizado con las últimas tecnologías y mejores prácticas.
                    Esto me permite aportar soluciones innovadoras y optimizar
                    procesos, siempre alineado con los objetivos del proyecto y
                    las necesidades del equipo
                </p>
                <p>
                    Me considero adaptable, con la capacidad de aprender nuevas
                    tecnologías y ajustar mis enfoques según las necesidades del
                    proyecto. En situaciones de presión, mantengo una gestión
                    del estrés eficiente, priorizando tareas y cumpliendo plazos
                    sin sacrificar calidad. También valoro la retroalimentación
                    constructiva y siempre estoy dispuesto a escuchar y
                    compartir ideas.
                </p>            
            </div>
        </div>

        <div class="container_educacion">
            <div class="educacion">
                <h3>Educación</h3>
                <ul>
                    <li>
                        <div>
                            <h4>Universidad del Bío-Bío, Concepción</h4>
                        </div>
                        <p>Ingeniería Civil en Informática | 2017 - 2022</p>
                    </li>
                    <li>
                        <div>
                            <h4>E-Camp Edutecno</h4>
                        </div>
                        <p>Full Stack Java Trainee | 2024 - 2025</p>
                    </li>
                </ul>
                <div class="footer">
                    <div class="container-titulos">
                        <a class="descargar-titulos" href="" target="_blank"
                            ><img
                                class="icon_descargar"
                                width="25"
                                height="25"
                                src="https://img.icons8.com/ios-filled/50/ffffff/google-drive--v2.png"
                                alt="google-drive--v2"
                            /><span class="descargar-content"
                                >Titulos y certificados</span
                            ></a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .sobre {
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 100%; */
        /* height: 100vh; */
         /* margin-top: 8px; */
        /* margin-left: -8px;
    margin-right: -7px; */
        background: linear-gradient(
            180deg,
            rgb(19, 21, 26) 20.8%,
            rgb(49, 46, 97) 94.3%
        );
    }
    .div2 {
        display: flex;
        flex-direction: row;
        width: 75%;
        /* padding: 5%; */
        margin-top: 5%;
        /* margin-top: 22px;  */
    }

    .container_sobre_mi {
        display: grid;
        width: 55%;
    }

    .sobre_mi {
        /* grid-template-columns: auto max-content; */
        background: rgba(32, 28, 44, 0.5);
        backdrop-filter: blur(20px) saturate(180%);
        padding-left: 4%;
        padding-right: 4%;
        padding-bottom: 0.8%;
        margin-bottom: 2.5%;
        border-radius: 8px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    }

    .sobre_mis_habilidades {
        background: rgba(19, 21, 26, 0.7);
        backdrop-filter: blur(20px) saturate(180%);
        padding-left: 4%;
        padding-right: 4%;
        padding-bottom: 0.9%;
        margin-top: 2.5%;
        border-radius: 8px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    }

    .h4s {
        margin-top: -1px;
        margin-bottom: -10px;
    }

    .container_educacion {
        display: grid;
        width: 45%;
    }

    .educacion {
        background: rgba(49, 46, 97, 0.5);
        backdrop-filter: blur(20px) saturate(180%);
        padding-left: 4%;
        padding-right: 6%;
        padding-bottom: 0.8%;
        margin-left: 15%;
        border-radius: 8px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    }

    .footer {
        position: absolute;
        width: 94%;
        bottom: 2%;
    }

    .container-titulos {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 3.5rem;
        margin-bottom: 1.8rem;
    }

    .descargar-titulos {
        position: relative;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        width: 210px;
        padding: 0 2rem;
        margin-left: -10px;
        border-radius: 0.5rem;
        background: #3d3a4e;
        border: none;
        cursor: pointer;
        text-decoration: none;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    }

    .descargar-titulos:hover::before {
        transform: scaleX(1);
    }

    .descargar-titulos::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: 0 50%;
        width: 100%;
        height: inherit;
        border-radius: inherit;
        background: linear-gradient(
            82.3deg,
            rgba(150, 93, 233, 0.5) 0%,
            rgba(99, 88, 238, 1) 100%
        );
        transition: all 0.475s;
    }
    .descargar-content {
        position: relative;
        font-size: 0.95rem;
        color: #fff;
        /* z-index: 1; */
    }
    .icon_descargar {
        margin-right: 20px;
        margin-left: -10px;
        z-index: 1;
    }
    @media (max-width: 1280px) {
        .div2 {
            display: flex;
            flex-direction: column;
            width: 75%;
            padding: 5%;
            /* margin-top: 22px;  */
        }
        .container_sobre_mi,
        .container_educacion {
            width: 100%;
        }
        .footer {
            position: relative;
            width: 100%;
        }
        .educacion {
            margin-left: 0%;
            margin-top: 5%;
            /* height: 26vh; */
        }
    }
    @media (max-width: 768px) {
        .footer {
            margin-left: 3%;
        }
    }


    @media (max-width: 440px) {
        /* .sobre_mis_habilidades {
            display: none;
        } */
    }
</style>
