---
import { AccordionH, AccordionE } from "./react_components/Accordion";
---

<section class="sobre" id="sobre_mi">
    <div class="div2">
        <div class="container_sobre_mi">
            <div class="sobre_mi">
                <h3>Sobre mí</h3>

                <h4 class="h4s">
                    <img
                        class="worldwide-location"
                        width="20"
                        height="20"
                        src="https://img.icons8.com/glyph-neue/64/FFFFFF/marker--v1.png"
                        alt="marker--v1"
                    />
                    Concepción, Chile <!-- <img
                        class="chile_icon"
                        width="20"
                        height="20"
                        src="https://img.icons8.com/external-others-iconmarket/64/ffffff/external-chile-flags-others-iconmarket.png"
                        alt="external-chile-flags-others-iconmarket"
                    /> -->
                </h4>

                <p>
                    ¡Hola! soy un egresado de Ingeniería Civil en Informática
                    encantado por el desarrollo full stack, dispuesto a aprender
                    todo sobre el desarrollo de software. Ademas cuento con
                    conocimientos de front-end, back-end, manejo de datos y en
                    bases de datos SQL y NoSQL.
                </p>
            </div>
            <AccordionH client:media="(max-width: 1280px)" />
        </div>

        <div class="container_educacion">
            <AccordionE client:media="(max-width: 1280px)" />
        </div>
    </div>
    <!-- <script src="./scripts/ScrollAnimations.js"></script> -->
</section>

<style>
    .sobre {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
            180deg,
            rgb(19, 21, 26) 20.8%,
            rgb(34, 33, 50) 94.3%
        );
    }
    .div2 {
        display: flex;
        flex-direction: row;
        width: 75%;
        margin-top: 5%;
    }

    .container_sobre_mi {
        display: grid;
        width: 55%;
        /*  opacity: 0;
        transform: translateX(100%);
        animation-duration: 1s;
        animation-fill-mode: forwards; */
    }

    .sobre_mi {
        background: rgba(49, 46, 97, 0.5);
        backdrop-filter: blur(20px) saturate(180%);
        padding-left: 4%;
        padding-right: 4%;
        padding-bottom: 0.8%;
        margin-bottom: 2.5%;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(175, 174, 174, 0.05);
        transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    }

    .sobre_mi:hover {
        /* transform: scale(1.01); */
        box-shadow: 0px 0px 10px rgba(175, 174, 174, 0.5);
    }

    .hidden {
        display: none;
    }

    .no_hidden {
        display: flex;
    }

    .subtitulo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .h4s {
        margin-top: -6px;
        margin-bottom: -5px;
    }

    .worldwide-location {
        margin-bottom: -3px;
    }

    .chile_icon {
        margin-bottom: -4px;
        margin-left: 2px;
    }

    .container_educacion {
        display: grid;
        width: 45%;
        /* opacity: 0; 
        transform: translateX(-10%);
        animation-duration: 1s;
        animation-fill-mode: forwards; */
    }

    @keyframes slideInLeft {
        from {
            transform: translateX(-20%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    /*     @keyframes slideOutLeft {
        0% {
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            transform: translateX(-10%);
            opacity: 0;
        }
    } */

    @keyframes slideInRight {
        from {
            transform: translateX(20%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    /*     @keyframes slideOutRight {
        0% {
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            transform: translateX(10%);
            opacity: 0;
        }
    } */

    /* .container_sobre_mi.visible {
        animation: slideInLeft 1s forwards;
    }

    .container_educacion.visible {
        animation: slideInRight 1s forwards;
    }

    .container_sobre_mi.h {
        animation: slideOutLeft 1s forwards;
    }

    .container_educacion.h {
        animation: slideOutRight 1s forwards;
    }
 */
    .container_sobre_mi {
        view-timeline-name: --tarjetaLeft;
        view-timeline-axis: block;

        animation-timeline: --tarjetaLeft;
        animation-name: slideInLeft;
        animation-range: entry 20% cover 45%;
        animation-fill-mode: both;
    }

    .container_educacion {
        view-timeline-name: --tarjetaRight;
        view-timeline-axis: block;

        animation-timeline: --tarjetaRight;
        animation-name: slideInRight;
        animation-range: entry 20% cover 45%;
        animation-fill-mode: both;
    }

    @media (max-width: 1280px) {
        .div2 {
            flex-direction: column;
            padding: 5%;
        }

        @keyframes show {
            from {
                opacity: 0;
                scale: 50%;
            }

            to {
                opacity: 1;
                scale: 100%;
            }
        }

        .container_sobre_mi {
            view-timeline-name: --tarjetaLeft;
            view-timeline-axis: block;

            animation-timeline: --tarjetaLeft;
            animation-name: show;
            animation-range: entry 20% cover 30%;
            animation-fill-mode: both;
        }

        .container_educacion {
            animation-name: show;
            animation-fill-mode: both;
        }

        /* @keyframes slideInLeftPlus {
            0% {
                transform: translateX(-20%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes slideOutLeftPlus {
            0% {
                transform: translateX(0);
                opacity: 1;
            }
            100% {
                transform: translateX(-20%);
                opacity: 0;
            }
        }

        @keyframes slideInRightPlus {
            0% {
                transform: translateX(20%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes slideOutRightPlus {
            0% {
                transform: translateX(0);
                opacity: 1;
            }
            100% {
                transform: translateX(20%);
                opacity: 0;
            }
        } */

        .container_sobre_mi,
        .container_educacion {
            width: 100%;
            /* animation-duration: 1s;
            opacity: 1;
            transform: translateX(0); */
        }

        /* .container_sobre_mi.visible {
            animation-name: slideInLeftPlus 1s forwards;
        }

        .container_educacion.visible {
            animation-name: slideInRightPlus 1s forwards;
        }

        .container_sobre_mi.h {
            animation: slideOutLeftPlus 1s forwards;
        }

        .container_educacion.h {
            animation: slideOutRightPlus 1s forwards;
        } */

        .footer {
            position: relative;
            width: 100%;
        }
        .educacion {
            background: rgba(49, 46, 97, 0.5);
            margin-left: 0%;
            margin-top: 5%;
        }
    }
    @media (max-width: 560px) {
        .div2 {
            width: 85%;
        }
    }
</style>
