<section class="container_footer">
    <hr />
    <div class="footer">
        <div class="icon">
            <a href="https://linkedin.com/in/pablo-ulloa-lizama-86b301271" target="_blank">
                <img
                    width="30"
                    height="30"
                    src="https://img.icons8.com/ios-filled/50/ffffff/linkedin.png"
                    alt="linkedin"
                />
            </a>
        </div>
        <div class="icon">
            <a href="https://github.com/pablossrudi" target="_blank">
                <img
                    width="30"
                    height="30"
                    src="https://img.icons8.com/ios-glyphs/30/ffffff/github.png"
                    alt="github"
                />
            </a>
        </div>
        <div class="icon">
            <a href="" target="_blank">
                <img
                    width="30"
                    height="30"
                    src="https://img.icons8.com/ios-filled/50/ffffff/new-post.png"
                    alt="new-post"
                />
            </a>
        </div>
    </div>
</section>

<style>
    .container_footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;
    }
    hr {
        width: 99%;
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        justify-items: center;
    }
    .icon {
        margin-top: 15px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon img {
        width: 30px;
        height: 30px;
        object-fit: contain; /* Asegura que los iconos se ajusten sin distorsionarse */
    }
</style>
