---
import SideBarButton from "./react_components/SideBarButton";
---

<header class="header">
	<nav>
		<ul>
			<li>
				<a class="a" href="#home">Home</a>
			</li>
			<li>
				<a class="a" href="#sobre_mi">Sobre Mí</a>
			</li>
			<li>
				<a class="a" href="#proyectos">Proyectos</a>
			</li>
			<li>
				<a class="a" href="#habilidades">Habilidades</a>
			</li>
			<li>
				<a class="a" href="#contactar">Contactar</a>
			</li>
		</ul>
	</nav>
	<SideBarButton client:load />
</header>

<style>
	/* Animación para el movimiento desde arriba */
	@keyframes slideDown {
		0% {
			transform: translateY(-100%);
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}

	.header {
		position: fixed;
		top: 0;
		width: 100%;
		background: rgba(19, 21, 26, 0.7);
		backdrop-filter: blur(20px) saturate(180%);
		display: flex;
		justify-content: center;
		align-items: center;
		/* height: 70px; */
		padding-bottom: 5px;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
		z-index: 2;
		animation: slideDown 0.8s ease-out;
	}

	ul {
		display: flex;
		margin-left: -40px;
	}

	li {
		display: inline-block;
		padding: 0 20px;
	}

	.a {
		position: relative;
		font-size: 1.1rem;
		color: white;
		font-weight: 500;
		text-decoration: none;
		transition: 0.475s;
	}
	.a:hover {
		color: rgba(99, 88, 238, 1);
	}
	.a::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -10px;
		width: 0%;
		height: 2px;
		background: rgba(150, 93, 233, 1);
		transition: 0.475s;
	}

	.a:hover::after {
		width: 100%;
		background: rgba(99, 88, 238, 1);
	}

	img {
		width: 0;
		color: white;
	}

	@media (max-width: 630px) {
		.header {
			justify-content: end;
			align-items: center;
		}

		ul {
			display: none;
		}
	}
</style>
