<section class="home" id="home">
    <div class="div1">
        <div class="nombre">
            <h1><strong>Pablo Ulloa Lizama</strong></h1>
        </div>
        <div class="prof">
            <h2 class="subtitulo"><b>Desarrollador Full Stack</b></h2>
        </div>

        <div class="btns_home">
            <a
                class="btn_github"
                href="https://github.com/pablossrudi"
                target="_blank"
            >
                <img
                    class="icon_github"
                    width="30"
                    height="30"
                    src="https://img.icons8.com/ios-glyphs/30/ffffff/github.png"
                    alt="github"
                />
            </a>

            <a
                class="btn_linkedin"
                href="https://linkedin.com/in/pablo-ulloa-lizama-86b301271"
                target="_blank"
            >
                <img
                    class="icon_linkedin"
                    width="30"
                    height="30"
                    src="https://img.icons8.com/ios-filled/50/ffffff/linkedin.png"
                    alt="linkedin"
                />
            </a>
            <a
                class="descargar"
                href="src/assets/curriculum.pdf"
                target="_blank"
                ><img
                    class="icon_descargar"
                    width="40"
                    height="35"
                    src="https://img.icons8.com/fluency-systems-filled/48/ffffff/resume.png" alt="resume"
                /><span class="descargar-content">DESCARGAR CV</span></a
            >
        </div>
    </div>
    <img class="img-perfil" src="src/assets/images/yo.webp" alt="foto de perfil" />

    <div class="container-scroll-btn">
        <a href="#sobre_mi" class="scroll-text">
            <p>Scroll para explorar</p>
        </a>
        <a href="#sobre_mi" class="scroll-btn">
            <div class="scroll"></div>
        </a>
    </div>
</section>

<style>
    .home {
        display: flex;
        height: 100vh;
        align-items: center;
        background: linear-gradient(
            35.8deg,
            rgb(19, 21, 26) 59.8%,
            rgb(49, 46, 97) 90.3%
        );
    }
    .subtitulo {
        background: linear-gradient(
            82.3deg,
            rgba(99, 88, 238, 1) 10.8%,
            rgba(150, 93, 233, 1) 94.3%
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    @keyframes slideUp {
        from {
            transform: translateY(50%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(-100%);
        }
    }

    .container-scroll-btn {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 100px; */
        bottom: 50px;
        left: 46.2%;
    }

    .container-scroll-btn {
        view-timeline-name: --scrollbtn;
        view-timeline-axis: block;
        animation-timeline: --scrollbtn;
        animation-name: fadeOut;
        animation-fill-mode: both;
    }

    .scroll-btn {
        width: 35px;
        height: 55px;
        border-radius: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(19, 21, 26);
        border: none;
        outline: 2px solid #777777;
        box-shadow: 0px 0px 10px #d9d9d9;
        animation: fadeIn 1s ease-out;
    }

    .scroll {
        width: 5px;
        height: 10px;
        border-radius: 10px;
        background-color: #777777;
        box-shadow: 0px 0px 10px #777777;
        animation: scroll_4013 2s linear infinite;
        transform: translateY(40%);
    }

    .scroll-text {
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    p {
        color: #777777;
        font-size: clamp(0.7rem, 1vw, 1.1rem);
        text-shadow: 0px 0px 8px #d9d9d9;
    }

    p:hover {
        color: rgba(255, 255, 255, 1);
    }

    .scroll-btn:hover {
        outline: 2px solid rgb(255, 255, 255);
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    }

    .scroll-btn:hover .scroll {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    }

    @keyframes scroll_4013 {
        0% {
            transform: translateY(40%);
        }

        50% {
            transform: translateY(90%);
        }
    }

    @keyframes slideInLeft {
        0% {
            transform: translateX(-10%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .div1 {
        padding-inline: 8%;
        margin-left: 5%;
        text-align: left;
        animation: slideInLeft 1s ease-out;
        z-index: 1;
    }

    .nombre {
        margin-top: -90px;
    }

    .prof {
        margin-top: -50px;
        margin-bottom: 5px;
    }

    .btns_home {
        display: flex;
        flex-direction: row;
        margin-top: -80px;
    }
    .descargar {
        margin-top: 3.5rem;
        position: relative;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        width: 152px;
        padding: 0 1.5rem;
        margin-left: 1rem;
        border-radius: 0.5rem;
        background: #3d3a4e;
        border: none;
        cursor: pointer;
        text-decoration: none;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    }
    .descargar:hover::before {
        transform: scaleX(1);
    }
    .descargar-content {
        position: relative;
        font-size: 0.95rem;
        color: #fff;
    }

    .descargar::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: 0 50%;
        width: 100%;
        height: inherit;
        border-radius: inherit;
        background: linear-gradient(
            82.3deg,
            rgba(150, 93, 233, 1) 10.8%,
            rgba(99, 88, 238, 1) 94.3%
        );
        transition: all 0.475s;
    }
    .btn_github {
        margin-top: 3.5rem;
        position: relative;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        width: 0;
        padding: 0 2rem;
        border-radius: 0.5rem;
        background: #3d3a4e;
        border: none;
        cursor: pointer;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    }
    .btn_github:hover::before {
        transform: scaleX(1);
    }
    .btn_github::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: 100% 50%;
        width: 100%;
        height: inherit;
        border-radius: inherit;
        background: linear-gradient(
            82.3deg,
            rgba(150, 93, 233, 1) 10.8%,
            rgba(99, 88, 238, 1) 94.3%
        );
        transition: all 0.475s;
    }

    .icon_descargar {
        margin-right: 0.9rem;
        margin-left: -10px;
        z-index: 1;
    }
    .icon_github {
        z-index: 1;
    }
    .btn_linkedin {
        margin-top: 3.5rem;
        margin-left: 1rem;
        position: relative;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        width: 0;
        padding: 0 2rem;
        border-radius: 0.5rem;
        background: #3d3a4e;
        border: none;
        cursor: pointer;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    }
    .btn_linkedin:hover::before {
        transform: scaleX(1);
    }
    .btn_linkedin::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: 100% 50%;
        width: 100%;
        height: inherit;
        border-radius: inherit;
        background: linear-gradient(
            82.3deg,
            rgba(150, 93, 233, 1) 10.8%,
            rgba(99, 88, 238, 1) 94.3%
        );
        transition: all 0.475s;
    }
    .icon_linkedin {
        z-index: 1;
    }

    .container-titulos {
        display: flex;
        margin-left: 12px;
        align-items: center;
        margin-top: 3.5rem;
        margin-bottom: 1.8rem;
    }

    .img-perfil {
        position: absolute;
        bottom: 1;
        right: 4%;
        margin-right: 7.1%;
        margin-bottom: 1.5%;
        width: 30vw;
        border-radius: 30%; 
        mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
        filter: drop-shadow(
            0px 0px 5px rgba(255,255,255, 0.5)
        );
        animation: slideInRight 1s ease-out;
    }


    @keyframes slideInRight {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @media (max-width: 1150px) {
        .img-perfil {
            bottom: 2%;
            right: 0;
        }
    }

    @media (max-width: 880px) {
        .container-scroll-btn {
            left: 7.2%;
        }
    }

    @media (max-width: 600px) {
        .prof {
            margin-top: -25px;
        }

        .btns_home {
            margin-top: -60px;
        }

        .descargar {
            width: 0;
            padding: 0 2rem;
        }

        .descargar-content {
            display: none;
        }

        .icon_descargar {
            margin-right: 0;
            margin-left: 0;
        }
    }
</style>
