<section class="proyectos" id="proyectos">
    <div class="div3">
        <h3><strong>Proyectos</strong></h3>
        <div class="container_proyectos">
            <div class="card"><div><img class="imagen" src="src/assets/images/seutils.png" alt=""></div><section class="container_description"><div class="header"><h4>titulo</h4><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"></div><div class="descripcion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam neque quisquam officiis tempora. Aliquid quae sed cupiditate earum! Vel provident animi numquam architecto vitae placeat tempora voluptatum nesciunt sapiente laudantium!</p></div><div class="footer"><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"></div></section></div>
            <div class="card"><div><img class="imagen" src="src/assets/images/seutils.png" alt=""></div><section class="container_description"><div class="header"><h4>titulo</h4><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"></div><div class="descripcion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam neque quisquam officiis tempora. Aliquid quae sed cupiditate earum! Vel provident animi numquam architecto vitae placeat tempora voluptatum nesciunt sapiente laudantium!</p></div><div class="footer"><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"></div></section></div>
            <div class="card"><div><img class="imagen" src="src/assets/images/seutils.png" alt=""></div><section class="container_description"><div class="header"><h4>titulo</h4><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"></div><div class="descripcion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam neque quisquam officiis tempora. Aliquid quae sed </p></div><div class="footer"><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"></div></section></div>
            <div class="card"><div><img class="imagen" src="src/assets/images/seutils.png" alt=""></div><section class="container_description"><div class="header"><h4>titulo</h4><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"></div><div class="descripcion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam neque quisquam officiis tempora. Aliquid quae sed cupiditate earum! Vel provident animi numquam architecto vitae placeat tempora voluptatum nesciunt sapiente laudantium!</p></div><div class="footer"><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"></div></section></div>
            <div class="card"><div><img class="imagen" src="src/assets/images/seutils.png" alt=""></div><section class="container_description"><div class="header"><h4>titulo</h4><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"></div><div class="descripcion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam neque quisquam officiis tempora. Aliquid quae sed cupiditate earum! Vel provident animi numquam architecto vitae placeat tempora voluptatum nesciunt sapiente laudantium!</p></div><div class="footer"><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"></div></section></div>
            <div class="card"><div><img class="imagen" src="src/assets/images/seutils.png" alt=""></div><section class="container_description"><div class="header"><h4>titulo</h4><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"></div><div class="descripcion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam neque quisquam officiis tempora. Aliquid quae sed cupiditate earum! Vel provident animi numquam architecto vitae placeat tempora voluptatum nesciunt sapiente laudantium!</p></div><div class="footer"><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"></div></section></div>
            <div class="card"><div><img class="imagen" src="src/assets/images/seutils.png" alt=""></div><section class="container_description"><div class="header"><h4>titulo</h4><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"></div><div class="descripcion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam neque quisquam officiis tempora. Aliquid quae sed cupiditate earum! Vel provident animi numquam architecto vitae placeat tempora voluptatum nesciunt sapiente laudantium!</p></div><div class="footer"><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"><img width="30" height="30" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/50/ffffff/external-react-social-media-tanah-basah-glyph-tanah-basah.png" alt="external-react-social-media-tanah-basah-glyph-tanah-basah"></div></section></div>
           
        </div>
    </div>
</section>
<style>
    .proyectos {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 8px; */
        background: rgb(34, 33, 50)
    }
    .div3 {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin-top: 5%;
/*         margin-top: 22px; */
    }
    .container_proyectos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem; 
        justify-items: center;
    }
    .card {
        /* background: rgba(34, 33, 50); */
        /* background: rgba(19, 21, 26, 0.7); */
        background: rgba(19, 21, 26, 0.5);
        backdrop-filter: blur(20px) saturate(180%);
        padding-bottom: 3%;
        border-radius: 8px;
        box-shadow: 0px 3px 10px rgba(175, 174, 174, 0.1);
        display: flex;
        flex-direction: column; 
        min-height: 300px;
    }
    .imagen {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: rgba(19,21,26, 0.4);
        aspect-ratio: 3 / 2;
        object-fit: scale-down;
    }

    .container_description{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%
    }
    .descripcion {
        margin-left: 5%;
        margin-right: 5%
    }
    .footer{
        display: flex;
        justify-content: end;
        gap: 1rem; 
        margin-right: 5%;
        margin-top: auto;
    }
    @media (max-width: 1280px) {
        .container_proyectos {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (max-width: 1024px) {
        .container_proyectos {
            grid-template-columns: repeat(1, 1fr);
        }
    }

</style>