<section class="habilidades" id="habilidades">
    <div class="div4">
        <h3><strong>Habilidades</strong></h3>
        <div class="container_cards">
            <div class="container_frontend">
                <div class="card_frontend color_card">
                    <h3>Frontend</h3>
                    <div class="container_icons">
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/color/48/html-5--v1.png"
                                alt="html-5--v1"
                            />
                            <br />
                            <span>HTML</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/color/48/css3.png"
                                alt="css3"
                            />
                            <br />
                            <span>CSS</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/color/48/bootstrap--v2.png"
                                alt="bootstrap--v2"
                            />
                            <br />
                            <span>Bootstrap</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/color/48/tailwind_css.png"
                                alt="tailwind_css"
                            />
                            <br />
                            <span>Tailwind</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/officel/80/react.png"
                                alt="react"
                            />
                            <br />
                            <span>React</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/ios-filled/50/80deea/react-native.png"
                                alt="react-native"
                            />
                            <br />
                            <span>React</span>
                            <span>Native</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/fluency/48/expo.png"
                                alt="expo"
                            />
                            <br />
                            <span>Expo</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container_cards_r">
                <div class="card_r oscuro_card">
                    <h3>Lenguajes</h3>
                    <div class="container_icons_r">
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/color/48/javascript--v1.png"
                                alt="javascript--v1"
                            />
                            <br />
                            <span>JavaScript</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/color/48/typescript.png"
                                alt="typescript"
                            />
                            <br />
                            <span>TypeScript</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/color/48/python--v1.png"
                                alt="python--v1"
                            />
                            <br />
                            <span>Python</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/color/48/java-coffee-cup-logo--v1.png"
                                alt="java-coffee-cup-logo--v1"
                            />
                            <br />
                            <span>Java</span>
                        </div>
                    </div>
                </div>
                <div class="card_r oscuro_claro_card">
                    <h3>Backend</h3>
                    <div class="container_icons_r">
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/color/48/spring-logo.png"
                                alt="spring-logo"
                            />
                            <br />
                            <span>SpringBoot</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/fluency/48/node-js.png"
                                alt="node-js"
                            />
                            <br />
                            <span>NodeJ</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/color/48/mysql-logo.png"
                                alt="mysql-logo"
                            />
                            <br />
                            <span>MySQL</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/color/48/postgreesql.png"
                                alt="postgreesql"
                            />
                            <br />
                            <span>PostgreeSQL</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/color/48/mongo-db.png"
                                alt="mongo-db"
                            />
                            <br />
                            <span>Mongo</span>
                        </div>
                    </div>
                </div>
                <div class="card_r claro_card">
                    <h3>Herramientas</h3>
                    <div class="container_icons_r">
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/color/48/git.png"
                                alt="git"
                            />
                            <br />
                            <span>Git</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/glyph-neue/64/ffffff/github.png"
                                alt="github"
                            />
                            <br />
                            <span>GitHub</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/fluency/48/visual-studio-code-2019.png"
                                alt="visual-studio-code-2019"
                            />
                            <br />
                            <span>Visual Studio</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/color/48/intellij-idea.png"
                                alt="intellij-idea"
                            />
                            <br />
                            <span>IntelliJ</span>
                        </div>
                        <div class="icons">
                            <img
                                class="icon"
                                src="https://img.icons8.com/color/48/figma--v1.png"
                                alt="figma--v1"
                            />
                            <br />
                            <span>Figma</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    @keyframes showLeft {
        from {
            opacity: 0;
            transform: translateX(
                -20%
            ); /* Empieza fuera de la pantalla hacia la izquierda */
        }

        to {
            opacity: 1;
            transform: translateX(0); /* Se mueve a su posición original */
        }
    }
    @keyframes showRight {
        from {
            opacity: 0;
            transform: translateX(
                20%
            ); /* Empieza fuera de la pantalla hacia la derecha */
        }

        to {
            opacity: 1;
            transform: translateX(0); /* Se mueve a su posición original */
        }
    }
    .habilidades {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
            0deg,
            rgb(19, 21, 26) 25%,
            rgb(34, 33, 50) 94.3%
        );
    }
    .div4 {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin-top: 4%;
    }
    .container_cards {
        display: flex;
        flex-direction: row;
    }

    .container_frontend {
        display: flex;
        width: 40%;
        
    }
    .card_frontend {
        padding-left: 4%;
        padding-right: 6%;
        padding-bottom: 0.8%;
        margin-right: 15%;
        margin-top: 1.8%;
        margin-bottom: 1.8%;
        border-radius: 8px;
        box-shadow: 0px 3px 10px rgba(175, 174, 174, 0.05);
        transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    }

    .container_frontend {
        view-timeline-name: --tarjetaLeft;
        view-timeline-axis: block;
        animation-timeline: --tarjetaLeft;
        animation-name: showLeft;
        animation-range: entry 20% cover 45%;
        animation-fill-mode: both;
    }

    .card_frontend:hover {
        /* transform: scale(1.05); */
        box-shadow: 0px 0px 10px rgba(175, 174, 174, 0.5);
    }

    .container_cards_r {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .container_cards_r {
        view-timeline-name: --tarjetaRight;
        view-timeline-axis: block;

        animation-timeline: --tarjetaRight;
        animation-name: showRight;
        animation-range: entry 20% cover 45%;
        animation-fill-mode: both;
    }
    .card_r {
        padding-left: 4%;
        padding-right: 6%;
        padding-bottom: 0.8%;
        margin-top: 1%;
        margin-bottom: 1%;
        border-radius: 8px;
        box-shadow: 0px 3px 10px rgba(175, 174, 174, 0.05);
        /* transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1); */
    }
    .oscuro_card {
        background: rgba(19, 21, 26, 0.5);
        backdrop-filter: blur(20px) saturate(180%);
        transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    }
    .color_card {
        background: linear-gradient(
            180deg,
            rgba(19, 21, 26, 0.5) 30.8%,
            rgba(49, 46, 97, 0.5) 94.3%
        );
        backdrop-filter: blur(20px) saturate(180%);
        transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    }

    .oscuro_claro_card {
        background: linear-gradient(
            180deg,
            rgba(19, 21, 26, 0.5) 30.8%,
            rgba(49, 46, 97, 0.5) 94.3%
        );
        backdrop-filter: blur(20px) saturate(180%);
        transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    }
    .claro_card {
        background: rgba(49, 46, 97, 0.5);
        backdrop-filter: blur(20px) saturate(180%);
        transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    }

    .claro_card:hover,
    .oscuro_claro_card:hover,
    .color_card:hover,
    .oscuro_card:hover
     {
        /* transform: scale(1.01); */
        box-shadow: 0px 0px 10px rgba(175, 174, 174, 0.5);
    }

    .container_icons {
        height: 80%;
        margin-top: 2.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-inline: 1rem;
        display: flex;
        gap: 2.5rem 5.9rem;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .container_icons_r {
        margin: 2rem;
        padding-inline: 1rem;
        display: flex;
        gap: 3rem;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .icons {
        font-weight: 500;
        text-align: center;
        /* width: 50px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    .icon {
        width: 60px;
        height: 60px;
    }
    @media (max-width: 1600px) {
        .icon {
            width: 40px;
            height: 40px;
        }
    }
    @media (max-width: 1452px) {
        span {
            font-size: x-small;
        }
        .icon {
            width: 35px;
            height: 35px;
        }
    }

    @media (max-width: 1266px) {
        @keyframes show {
            from {
                opacity: 0;
                scale: 50%;
            }

            to {
                opacity: 1;
                scale: 100%;
            }
        }
        .container_cards {
            width: 100%;
            flex-direction: column;
        }
        .container_frontend {
            /* display:inline; */
            width: 100%;
        }
        .card_frontend {
            margin-right: 0;
            margin-bottom: 4.5%;
            padding-bottom: 10%;
        }
        .container_cards_r {
            width: 100%;
        }

        .oscuro_card {
            background: rgba(49, 46, 97, 0.5);
            backdrop-filter: blur(20px) saturate(180%);
            margin-bottom: 5%;
        }

        .oscuro_claro_card {
            background: rgba(49, 46, 97, 0.5);
            backdrop-filter: blur(20px) saturate(180%);
            margin-bottom: 5%;
        }

        .card_frontend,
        .oscuro_card,
        .oscuro_claro_card,
        .claro_card {
            view-timeline-name: --tarjeta;
            view-timeline-axis: block;

            animation-timeline: --tarjeta;
            animation-name: show;
            animation-range: entry 20% cover 20%;
            animation-fill-mode: both;
        }
    }
    @media (max-width: 560px) {
        .div4 {
            width: 85%;
        }
    }

    @media (max-width: 435px) {
        .card_frontend {
            padding-bottom: 15%;
        }
    }
</style>
