<section class="habilidades" id="section3">
    <div class="div3">
        <h3><strong>Proyectos</strong></h3>
        <div class="container_proyectos">
            <div class="card"><div>Imagen</div><section><div class="header"><h4>titulo</h4>icono</div><div class="descripcion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam neque quisquam officiis tempora. Aliquid quae sed cupiditate earum! Vel provident animi numquam architecto vitae placeat tempora voluptatum nesciunt sapiente laudantium!</p></div><div class="footer">iconos</div></section></div>
            <div class="card"><div>Imagen</div><section><div class="header"><h4>titulo</h4>icono</div><div class="descripcion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam neque quisquam officiis tempora. Aliquid quae sed cupiditate earum! Vel provident animi numquam architecto vitae placeat tempora voluptatum nesciunt sapiente laudantium!</p></div><div class="footer">iconos</div></section></div>
            <div class="card"><div>Imagen</div><section><div class="header"><h4>titulo</h4>icono</div><div class="descripcion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam neque quisquam officiis tempora. Aliquid quae sed cupiditate earum! Vel provident animi numquam architecto vitae placeat tempora voluptatum nesciunt sapiente laudantium!</p></div><div class="footer">iconos</div></section></div>
            <div class="card"><div>Imagen</div><section><div class="header"><h4>titulo</h4>icono</div><div class="descripcion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam neque quisquam officiis tempora. Aliquid quae sed cupiditate earum! Vel provident animi numquam architecto vitae placeat tempora voluptatum nesciunt sapiente laudantium!</p></div><div class="footer">iconos</div></section></div>
            <div class="card"><div>Imagen</div><section><div class="header"><h4>titulo</h4>icono</div><div class="descripcion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam neque quisquam officiis tempora. Aliquid quae sed cupiditate earum! Vel provident animi numquam architecto vitae placeat tempora voluptatum nesciunt sapiente laudantium!</p></div><div class="footer">iconos</div></section></div>
            <div class="card"><div>Imagen</div><section><div class="header"><h4>titulo</h4>icono</div><div class="descripcion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam neque quisquam officiis tempora. Aliquid quae sed cupiditate earum! Vel provident animi numquam architecto vitae placeat tempora voluptatum nesciunt sapiente laudantium!</p></div><div class="footer">iconos</div></section></div>
        </div>
    </div>
</section>
<style>
    .habilidades {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 8px; */
        background: rgb(49, 46, 97)
    }
    .div3 {
        display: flex;
        flex-direction: column;
        width: 75%;
        padding: 5%;
/*         margin-top: 22px; */
    }
    .container_proyectos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem; 
        justify-items: center;
    }
    .card {
        background: rgba(19,21,26, 0.5);
        backdrop-filter: blur(20px) saturate(180%);
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 8px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    }
    .header {
        display: flex;
        justify-content: space-between;
        margin-left: 3%;
        margin-right: 3%
    }
    .descripcion {
        margin-left: 3%;
        margin-right: 3%
    }
    .footer{
        display: flex;
        justify-content: end;
        margin-right: 3%
    }


</style>